{{ define "main" }}
  <div role="main" class="container home-compact">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <section class="home-bio media">
          <div class="media-body">
            <h2 class="home-bio__name">About The Author</h2>
            <p class="home-bio__text">{{ .Site.Params.author.bio | default "Doing stuff." }}</p>
          </div>
        </section>
        <section class="home-bio media">
          <h2 class="home-bio__name">Latest Posts</h2>
          <div class="posts-list posts-list--compact">
            {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
            {{ range $pag.Pages }}
              <article class="post-preview--compact">
                <a class="post-preview__title" href="{{ .Permalink }}">{{ .Title }}</a>
                <div class="post-preview__meta">{{ .Date.Format "Jan 2, 2006" }}{{ with .ReadingTime }} • {{ . }} min read{{ end }}</div>
              </article>
              <hr class="post-separator" />
            {{ end }}
          </div>
        </section>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}

      </div>
    </div>
  </div>
{{ end }}


